<div class="container-fluid">
  <!-- Grande boîte principale : BTS SIO -->
  <h2 data-aos="fade-in" data-aos-delay="200">Qu'est-ce que le BTS SIO ?</h2>
  
  <p data-aos="fade-right" data-aos-delay="300">
    Le BTS SIO est un Brevet de Technicien Supérieur qui forme des techniciens spécialisés dans le domaine de l’informatique appliquée aux organisations (entreprises, administrations, associations…).
    C’est une formation de niveau Bac+2, très pratique, qui prépare à travailler dans le secteur informatique.
  </p>

  <h3 data-aos="fade-left" data-aos-delay="400">À quoi ça sert ?</h3>
  <p data-aos="fade-right" data-aos-delay="500">
    Le BTS SIO permet d’acquérir des compétences techniques et professionnelles pour gérer et maintenir des systèmes informatiques, développer des solutions logicielles, ou encore administrer des réseaux.
    L’objectif est de répondre aux besoins informatiques des organisations, que ce soit en développement d’applications ou en gestion des infrastructures.
  </p>

  <h3 data-aos="fade-up" data-aos-delay="300">Les options du BTS SIO</h3>

  <!-- Row pour les deux boîtes côte à côte -->
  <div class="row">
    <!-- Première boîte : SISR -->
    <div class="col-md-6 border p-3" data-aos="fade-right" data-aos-delay="500">
      <h4>SISR : Solutions d’Infrastructure, Systèmes et Réseaux</h4>
      <p><strong>Ce que ça couvre :</strong> installation, configuration, maintenance des réseaux informatiques, serveurs, sécurité des systèmes, virtualisation, gestion des bases de données, etc.</p>
      <p><strong>Pour qui ?</strong> Ceux qui aiment la technique réseau, l’administration systèmes, la sécurité informatique.</p>
    </div>

    <!-- Deuxième boîte : SLAM -->
    <div class="col-md-6 border p-3" data-aos="fade-left" data-aos-delay="500">
      <h4>SLAM : Solutions Logicielles et Applications Métiers</h4>
      <p><strong>Ce que ça couvre :</strong> conception, développement, déploiement et maintenance d’applications informatiques (logiciels, sites web, apps mobiles).</p>
      <p><strong>Pour qui ?</strong> Ceux qui préfèrent la programmation, le développement logiciel, la création d’outils numériques.</p>
    </div>

    <div class="row">

        <div class="col-md-6 border p-3">
            <!-- première boite pour les débouchés professionnels -->
        <div class="row">

          <h4 data-aos="fade-up" data-aos-delay="200"> Les débouchés possibles : </h4>  
          <p data-aos="fade-right" data-aos-delay="100">Après un BTS SIO, plusieurs métiers sont accessibles selon l’option choisie :</p>
            

            <div class="col-md-6">
     
        <h5 data-aos="fade-up" data-aos-delay="200">Option SISR :</h5>

            <ul data-aos="fade-up" data-aos-delay="200">
              <li>Technicien support informatique</li>
              <li>Administrateur réseaux</li>
              <li>Technicien systèmes et réseaux</li>
              <li>Technicien en cybersécurité</li>
              <li>Gestionnaire de parc informatique</li>
            </ul>

        </div>

            <div class="col-md-6">
            
            <h5 data-aos="fade-up" data-aos-delay="200">Option SLAM :</h5>

            <ul data-aos="fade-up" data-aos-delay="200">
              <li>Développeur d’applications</li>
              <li>Analyste-programmeur</li>
              <li>Concepteur de solutions logicielles</li>
              <li>Intégrateur d’applications</li>
              <li>Webmaster</li>
            </ul>

            

        </div>

            </div>

        </div>

        <div class="col-md-6 border p-3" data-aos="fade-up" data-aos-delay="450">
          
          <h4>
                <strong>Les poursuites d’études possibles</strong>
          </h4>

        <p>
            Après un BTS SIO, plusieurs poursuites d'études sont possibles :
        </p>

        <ul>
          <li>Licences professionnelles (ex. : métiers de l’informatique, réseaux, développement)</li>
          <li>Écoles d’ingénieurs en informatique (sur concours ou admission parallèle)</li>
          <li>Bachelors en informatique ou en systèmes réseaux</li>
          <li>Licences générales en informatique ou numérique</li>
          <li>Masters (avec une licence préalable) pour accéder à des fonctions d’encadrement, de chef de projet, etc.</li>
        </ul>



        </div>


    </div>


  </div>

</div>